{% extends 'base.html' %}
{% block title %}
Store | Outsourcer
{% endblock %}
{% block heading %}
<div class='container'>
<center>
<h1 class='text-primary'>Home</h1>
</center>
</div>
{% endblock %}


{% block content %}
<div class='about'>
<div class='container'>
<h1>About</h1>
  </div>

<br>

<div class='container'>
<h2>Who are we?</h2>
  </div>

  <div class='container'>
  <p>Hello {{account}}. We are ProjectWD's Outsourcer. Our mission is to connect customers to suppliers without inerfering with how
    the suppliers do business and without adding the problem of price markups to the customers. We allow suppliers list their
    items here along with their contacts so that poteintial customers can easily see their listing and see the product as
    displayed on the supplier's site. As we outsource the suppliers, we are not responsible for any illegitimate listings.
    Please report any frauds or scams to help the next customer. You must conduct your own due dilligence to verify the authenticity of
    the listings.
  </p>
    </div>
</div>
{% endblock %}
